version: 2 # use CircleCI 2.0

jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point
    docker: # run the steps with Docker
      - image: circleci/php:7.1-node-browsers
      - image: microsoft/mssql-server-linux:2017-CU8
        environment:
          - ACCEPT_EULA: Y
          - SA_PASSWORD: 1234abcD
    working_directory: ~/repo
    steps:
      - checkout # special step to check out source code to working directory
      - run: sudo apt install -y apt-transport-https
      - run: sudo sh -c "curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add - "
      - run: sudo sh -c "curl https://packages.microsoft.com/config/debian/9/prod.list > /etc/apt/sources.list.d/mssql-release.list && apt update"
      - run: sudo ACCEPT_EULA=Y apt install -y zlib1g-dev ruby freetds-dev msodbcsql17 unixodbc-dev mssql-tools
      - run: sudo ln -s /usr/lib/x86_64-linux-gnu/libsybdb.a /usr/lib/
      - run: sudo docker-php-ext-install zip pdo_dblib
      - run: sudo pecl install sqlsrv-5.3.0 pdo_sqlsrv-5.3.0
      - run: echo -e "extension=sqlsrv.so" | sudo tee /usr/local/etc/php/php.ini > /dev/null
      - run: echo -e "extension=pdo_sqlsrv.so" | sudo tee /usr/local/etc/php/php.ini > /dev/null
      - run: sudo composer self-update
      - run: sudo gem install bundler
      # php cache
      - restore_cache: # special step to restore the dependency cache if `composer.lock` does not change
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            # fallback to using the latest cache if no exact match is found (See https://circleci.com/docs/2.0/caching/)
            - composer-v1-
      - run: composer install -n --prefer-dist
      - save_cache: # special step to save the dependency cache with the `composer.lock` cache key template
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      # ruby cache
      - restore_cache:
          keys:
            - rails-bundle-v2-{{ checksum "Gemfile.lock" }}
            - rails-bundle-v2-
      - run:
          name: Bundle Install
          command: bundle check || bundle install
      - save_cache:
          key: rails-bundle-v2-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # - run: ./vendor/bin/phpunit tests
      - run: 
          name: Codecept Test
          command: ./vendor/bin/codecept run --html codeception.html --coverage-html coverage.html
          environment:
            - DB_USERNAME: SA
            - DB_PASSWORD: 1234abcD
      - run: .circleci/utils/bin/phpcs_inspect.sh
      - store_artifacts:
          path: tests/_output/codeception.html
          destination: codeception
      - store_artifacts:
          path: tests/_output/coverage.html
          destination: coverage
